<html>
<head>
</head>
<body>
  <%- yield %>
  
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/jquery.countdown.min.js"></script>
  <script src="assets/js/date.js"></script>
  <script src="app/functions.js"></script>
  <script src="app/trip.js"></script>
  <script src="app/train.js"></script>
  <script src="app/locations.js"></script>
  <script src="app/process.js"></script>
  <script src="app/app.js"></script>
</body>
</html>